<footer class="pie fondo-azul">
    <div class="pie-central">
        <div class="pie-izquierda">
            <img class="pie-logo" src="~/images/isotipo_CE_PeruCompras.svg">
        </div>
        <div class="pie-derecha m-l-20">
            <p class="pie-texto color-blanco">© 2020 - Catálogos Electrónicos&nbsp;&nbsp;|&nbsp;&nbsp;Perú Compras - Todos los derechos reservados</p>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>