<header class="cabecera fondo-blanco">
    <div class="cabecera-izquierda">
        <img class="cabecera-logo" src="~/images/logo_PeruCompras.svg">
        <div class="cabecera-contenedor-imagen m-l-15">
            <img class="cabecera-imagen" src="~/images/logo_CE_PeruCompras.svg">
        </div>
    </div>
    <div class="cabecera-derecha">
        <div id="boton-menu-superior" class="circulo-icono fondo-morado" onclick="botonMenuSuperior(this);"><i class="fa fa-bars icono color-blanco"></i></div>
    </div>
    <div class="clearfix"></div>
</header>
