<footer class="main-footer mt-4">
    <div class="container">
        <!-- <div class="float-right d-none d-sm-inline">Version 1.0</div>
        <strong>Copyright &copy; 2020 Catálogos Electrónicos&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.perucompras.gob.pe">Perú Compras</a>.</strong> - Todos los derechos reservados. -->
        <div class="row">
            <div class="col-12">
                <div class="pie-central">
                    <div class="pie-izquierda">
                        <img class="pie-logo" src="~/images/isotipo_PeruCompras.svg">
                    </div>
                    <div class="pie-derecha ml-3">
                        <p class="pie-texto color-blanco">© 2020 - Catálogos Electrónicos - Perú Compras - Todos los derechos reservados</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</footer>