<footer class="pie fondo-azul">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pie-central">
                    <div class="pie-izquierda">
                        <img class="pie-logo" src="~/images/isotipo_PeruCompras.svg">
                    </div>
                    <div class="pie-derecha ml-3">
                        <p class="pie-texto color-blanco">© 2020 - Catálogos Electrónicos - Perú Compras - Todos los derechos reservados</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</footer>