<header class="cabecera fondo-blanco">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="cabecera-logo" src="~/images/logo_PeruCompras.svg">
            </div>
        </div>
    </div>
</header>